
funcoes/__pycache__/FuncoesAgenda.cpython-39.pyc
cores/__pycache__/Cores.cpython-39.pyc
funcoes/__pycache__/__init__.cpython-39.pyc
__pycache__/ModulosAgenda.cpython-39.pyc
funcoes/__pycache__/BancoAgenda.cpython-39.pyc
funcoes/__pycache__/Pdf_contato.cpython-39.pyc
